.ui-outputlabel-rfi {
	color: #ff0000;
}

.column100 {
	width: 100px;
}

.situation-label {
    float: right;
    font-size: 0.9em;
    padding: 5px;
}

.dialog-loading {
	background-color:rgba(0, 0, 0, 0);
	box-shadow: none;
	border: 0px none;
}

.dialog-loading > .ui-dialog-content {
	background-color:rgba(0, 0, 0, 0);
}

.ui-messages {
	z-index: 2000;
	position: fixed;
	top: -10px;
	width: 99%;
}

.pnListProcess, .pnListReports {
	
}

.form-col-label {
	width: 200px;
	text-align: right;
}

.form-col-field {
	width: 500px;
	text-align: left;
}

.columnPnProgress {
	vertical-align: top;
}